@model TiendaVirtualMVC.Models.Usuario

<h2>Crear Usuario</h2>

<form method="post">
    Nombre: <input asp-for="Nombre" /><br />
    Celular: <input asp-for="celular" /><br />
    Rol: <input asp-for="Rol" /><br />

    <button type="submit">Guardar</button>
</form>