@model TiendaVirtualMVC.Models.Usuario

<h2>Editar Usuario</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    Nombre: <input asp-for="Nombre" /><br />
    Celular: <input asp-for="Celular" /><br />
    Rol: <input asp-for="Rol" /><br />

    <button type="submit">Actualizar</button>
</form>
